header > ul > li {
    display: inline;
    list-style: none;
}

header ul li > ul {
    display: none;
}

header ul li:hover > ul {
    display: block;
    background: white;
    color: white;
    position: absolute;

}

a {
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
}

a:hover {
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    background-color: red;
}

a:visited {
    bfont-family: 'Exo 2', sans-serif;
}